table, table tr, table td {
  border: 1px solid black;
}

table td {
  max-width: 50px !important;
  min-width: 50px;
  /*padding: 1px;*/
  /*margin: 1px;*/
  padding: 0 !important;

}

div.wrapper {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 2em;
  margin-top: -4%;
}

div.wrapper.selected {
  background-color: #106CC8;
}

div.wrapper > a {
  margin: auto;
}

div.container {
  width: 99%;
}

.waves-effect.waves-blue .waves-ripple {
  background-color: rgba(38, 126, 213, 0.65);
}

div[class*=confetti] {
	position: absolute;
	height: 6px;
	width: 6px;
	opacity: 0.4;
	-webkit-animation-iteration-count: infinite;
  z-index: 1000;
}

div[class*=confetti]:nth-child(odd) {
	-webkit-animation-duration: 0.4s;
	-webkit-animation-name: confetti1;
}

div[class*=confetti]:nth-child(even) {
	-webkit-animation-duration: 0.6s;
	-webkit-animation-name: confetti2;
}

@-webkit-keyframes confetti1 {
	0% {
	}
	50% {
		-webkit-transform: translateX(3px) rotateX(90deg) rotateY(45deg);
	}
	100% {
		-webkit-transform: rotateX(180deg) rotateY(45deg);
	}
}
@-webkit-keyframes confetti2 {
	0% {
	}
	50% {
		-webkit-transform: translateX(-3px) rotateY(90deg) rotateX(45deg);
	}
	100% {
		-webkit-transform:rotateY(180deg) rotateX(45deg);
	}
}
